:root {
    --primary-color: #4CAF50;
    --secondary-color: #e45454; 
    --font-family: 'Arial', sans-serif;
    --text-color:var(--font-family);
    --text-secondary-color: #ffff02;
    --background-color: #e4c5c5;
}

div1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

h1 {
    color: #ffff02;
    font-family: var(--font-family);
    margin: 5px 0;
    padding: 15px 0 0 80px;
}

h1.conteudo.ativo {
    color: #fff;
        margin-left: 380px;
    color: #fff;
}

body {
    background-image: url("https://img.freepik.com/fotos-premium/adoravel-codificador-de-gatos-na-selva-de-neon-abracando-a-tecnologia-com-um-toque-de-capricho-e-misterio_71756-14538.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    transition: var(--background-color) 0.3s, var(--text-color) 0.3s;
}
.menu-lateral.ativo {
    transition: var(--primary-color) 0.3s;
    left: 10px;
    width: 250px;
    top: 5px;
    border-radius: 5px;
}
.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 315px;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;
}
.menu-lateral ul li {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-lateral ul li a i {
    font-size: 20px;
}
.menu-lateral ul li a:hover {
    background-color: var(--secondary-color);
}
.menu-lateral ul li a:hover i {
    transform: translateX(5px) rotate(10deg);
    transition: transform 0.1s;
}
.botao-menu {
    position: fixed;
    top: 15px;
    left: 20px;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 6;
    font-size: 15px;
    border-radius: 100px;
    color: var(--secondary-color)
}
.botao-menu :hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.botao-menu.ativo {
    left: 200px;
    padding: 10px 10px 10px 10px;
}
.conteudo {
    margin-left: 80px;
    padding: 48px;
color: var(--text-secondary-color);
    transition: margin-left 0.3s;  
}
.conteudo.ativo {
    margin-left: 380px;
    color: #fff;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.background.ativo {
    opacity: 1;
    visibility: visible;
}