body{
    background-color: rgb(197, 175, 211);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
img {
    text-align:right;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: solid 2px transparent #dab7b7;
}

ul{
    list-style-type: none;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: medium; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    
}
li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: thistle;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

}
